<h2>Make your own workout plan and track your progress</h2>
<hr />
<input
  #searchBox
  id="searchBox"
  (input)="searchExerciseByName(searchBox.value)"
  placeholder="specific exercise"
  class="mb-2 mr-3"
/>
<h5 class="lead">List of avaliable exercises</h5>
<app-loading-spinner *ngIf="showLoadingSpinner"></app-loading-spinner>
<div class="row">
  <div class="col-md-4 mb-4 mt-4" *ngFor="let excercise of exerciseToDisplay">
    <app-exercise
      (onAddExericse)="addExerciseToRoutine($event)"
      [exercise]="excercise"
    ></app-exercise>
  </div>
</div>
